.projects {
  padding: 4rem;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  min-height: 50vh;
  text-align: center;
  color: #299bd8;
  position: relative;
}

.carousel-wrap {
  perspective: 600px;
  padding: 2rem 0;
}

.carousel {
  display: flex; 
  overflow-x: scroll; 
  padding-bottom: 2rem; 
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  flex-shrink: 0;
  width: 300px;
  margin: 0 1rem; 
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 2rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}